.monitors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.main_monitor {
    width: 700px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.left_monitor, .right_monitor {
    width: 200px;
}

.left_monitor {
    animation: rotate_left_monitor 0.5s forwards;
}

.left_monitor2 {
    width: 200px;
    animation: rotate_left_monitor_back 0.5s forwards;
}

.right_monitor2 {
    width: 200px;
    animation: rotate_right_monitor_back 0.5s forwards;
}

.right_monitor {
    animation: rotate_right_monitor 0.5s forwards;
}

.hidden_input{
    visibility: hidden;
}

.keyboard_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.key-1u { width: 40px; }
.key-1_5u { width: 62px; }
.key-2u { width: 84px; }
.key-2_5u { width: 106px; }
.key-space { width: 250px; }

@keyframes blink {
    50% { border-bottom-color: transparent; }
}

@keyframes rotate_left_monitor {
    0% { transform: translateX(110px) perspective(1000px) rotateY(90deg); }
    100% { transform: translateX(0px) perspective(1000px) rotateY(30deg); }
}

@keyframes rotate_left_monitor_back {
    0% { transform: translateX(0px) perspective(1000px) rotateY(30deg); }
    100% { transform: translateX(110px) perspective(1000px) rotateY(90deg); }
}

@keyframes rotate_right_monitor {
    0% { transform: translateX(-110px) perspective(1000px) rotateY(-90deg); }
    100% { transform: translateX(0px) perspective(1000px) rotateY(-30deg); }
}

@keyframes rotate_right_monitor_back {
    0% { transform: translateX(0px) perspective(1000px) rotateY(-30deg); }
    100% { transform: translateX(-110px) perspective(1000px) rotateY(-90deg); }
}

.left_hover, .right_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.left_arrow {
    transform: rotate(180deg) translateX(10px);
}

.left_arrow2 {
    transform: rotate(0deg) translateX(-15px);
}

.right_arrow {
    transform: rotate(0deg) translateX(10px);
}

.right_arrow2 {
    transform: rotate(180deg) translateX(-15px);
}

.left_arrow:hover {
    transform: rotate(180deg) translateX(15px);
}

.left_arrow2:hover {
    transform: rotate(0deg) translateX(-10px);
}

.right_arrow:hover {
    transform: rotate(0deg) translateX(15px);
}

.right_arrow2:hover {
    transform: rotate(180deg) translateX(-10px);
}

.left_monitor_before {
    visibility: hidden;
    width: 200px;
}

.right_monitor_before {
    visibility: hidden;
    width: 200px;
}



@keyframes loseeffect {
    0% { box-shadow: inset 0 0 0 0px red; }
    50% { box-shadow: inset 0 0 20px 10px red; }
    100% { box-shadow: inset 0 0 0 0px red; }
}

.lose-animation {
    animation: loseeffect 1s ease-in-out forwards; /* Apply the keyframes */
}

@keyframes wineffect {
    0% { box-shadow: inset 0 0 0 0px rgb(0, 255, 72); }
    50% { box-shadow: inset 0 0 20px 10px rgb(0, 255, 72); }
    100% { box-shadow: inset 0 0 0 0px rgb(0, 255, 72); }
}

.win-animation{
    animation: wineffect 1s ease-in-out;
}
@keyframes fail-text-glow {
    0% { text-shadow: none; }
    50% { text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000; }
    100% { text-shadow: none; }
}

.fail_glow {
    animation: fail-text-glow 2s forwards; /* Use animation instead of transition */
}

#restart_button {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

#restart_button:hover {
    transform: rotate(360deg);
}


#retro-theme {
    color: #00FFFF;
    text-shadow: 0 0 5px #00FFFF;
}

#retro-theme:hover {
    background-color: rgba(0, 255, 255, 0.2);
    cursor: pointer;
}

#ghibli-theme {
    color: #75cb2f;  /* Olive Drab */
}

#ghibli-theme:hover {
    background-color: rgba(92, 119, 70, 0.2);  /* Olive Drab with opacity */
    cursor: pointer;
}

#simpsons-theme {
    color: #ffd90f; /* Simpsons yellow */
    text-shadow: 0 0 5px #ffd90f;
}

#simpsons-theme:hover {
    background-color: rgba(255, 217, 15, 0.2);
    cursor: pointer;
}


#loading_gif{
    display: none;;
    z-index: 10;
}
#loading_gif_gif{
    display: none;
}
#loading_word{
    display: none;
}

@keyframes signalLossFade {
    0% {
      opacity: 1;
      filter: grayscale(0%);
    }
    25% {
      opacity: 0.7;
      filter: grayscale(30%);
    }
    50% {
      opacity: 0.5;
      filter: grayscale(50%) brightness(1.2);
    }
    75% {
      opacity: 0.3;
      filter: grayscale(70%);
    }
    100% {
      opacity: 0;
      filter: grayscale(100%);
    }
  }
  
  .fade-out-signal {
    animation: signalLossFade 1.5s ease forwards;
  }

  @keyframes signalGainFade {
    0% {
      opacity: 0;
      filter: grayscale(100%);
    }
    25% {
      opacity: 0.3;
      filter: grayscale(70%);
    }
    50% {
      opacity: 0.5;
      filter: grayscale(50%) brightness(1.2);
    }
    75% {
      opacity: 0.7;
      filter: grayscale(30%);
    }
    100% {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
  
  .fade-in-signal {
    animation: signalGainFade 1.5s ease forwards;
  }
  