 
body {
    background-image: url('../images/backgrounds/ghibli.png'); /* Replace with a Ghibli-inspired background */
	font-family: "Metal", serif;
}


.monitor{
    outline: 12px solid #5C7746;  /* Olive Drab */
	background-image: linear-gradient(
        to bottom right,
        rgba(255, 245, 238, 0.7),  /* Seashell */
        rgba(216, 240, 230, 0.5)   /* Mint cream */
    );
}


.monitor-content {
    color: #0F2519;  /* Dark green */
    font-size: 20px;
    
}


.secondary_monitor_content {
    color: #3A4A3C;  
	font-size: 20px;
}

.secondary_monitor_content_result{
    color:#6ba531;
}

.updated_text {
    color: #D68910;  /* Dark goldenrod */
    font-size: 20px;
}

.keyboard {
	background-image: linear-gradient(
        to bottom right,
        rgba(255, 245, 238, 0.7),  /* Seashell */
        rgba(216, 240, 230, 0.5)   /* Mint cream */
    );
    outline: 12px solid #5C7746;  /* Olive Drab */
}


.key {
	color: #3A4A3C;  /* Dark green */
    border: 2px solid #5C7746;  /* Olive Drab */
}



.key.active {
    background-color: #5C7746;  /* Forest green */
    box-shadow: 0 0 15px #5C7746;
}

.cursor {
    border-bottom: 2px solid #3A4A3C;  /* Dark blue-gray */
    
}

.result_prompt {
	font-size: 24px;
    color: #3A4A3C;  /* Dark blue-gray */
}

.result_prompt_below {
	font-size: 17px;
    color: #4A7023;  /* Nephritis green */
}




#avg_acc, #avg_wpm, #live_wpm, #live_acc {
    color: #6ba531; /* Warm yellow */
}
