body {
    background-image: url('../images/backgrounds/retro.jpeg');
	/* background-color: #522e96; */
	color: #ffedf7;
}

.monitor ,.keyboard{
    background-image: linear-gradient(
        to bottom right,
        rgba(247, 78, 230, 0.6), 
        rgba(253, 236, 99, 0.6)
    );
    outline: 10px solid rgb(2, 3, 61);
}

.key {
    border: 2px solid #ffedf7; 
}

.updated_text{
	color: #00ff8d;
}
.cursor {
    border-bottom: 2px solid #00ff8d;
}

#avg_acc, #avg_wpm, #live_wpm, #live_acc ,.result_prompt_below, .key.active, .secondary_monitor_content_result{
    color: #ffe600; /* Warm yellow */
}

