body {
    background-image: url('../images/backgrounds/retro.jpeg');
	font-family: "Audiowide", sans-serif;
	font-size: 15px;
	color: #ffedf7;
}

.monitor {
    background-image: linear-gradient(
        to bottom right,
        rgba(247, 78, 230, 0.6), 
        rgba(253, 236, 99, 0.6)
    );
    outline: 10px solid rgb(2, 3, 61);

}

.keyboard {
    background-image: linear-gradient(
        to bottom right,
        rgba(253, 73, 230, 0.6), 
        rgba(255, 236, 96, 0.6) 
    );
    outline: 10px solid rgb(2, 3, 61);
}

.key {
    border: 2px solid #59f7ff; 
}
.cursor , .updated_text{
    border-bottom: 2px solid #00ff8d;
}

#avg_acc, #avg_wpm, #live_wpm, #live_acc ,.result_prompt_below, .key.active, .secondary_monitor_content_result{
    color: #ffe600; /* Warm yellow */
}

