.monitor {
    
    opacity: 0.95;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.monitor-content {
	padding: 10px;
    line-height: 1.5;
    height: 70%;
}

.secondary_monitor_content {
	
    padding: 10px;
    line-height: 1.5;
}

.left_monitor_before {
    visibility: hidden;
    width: 200px;
}

.right_monitor_before {
    visibility: hidden;
    width: 200px;
}
@keyframes rotate_left_monitor {
    0% { transform: translateX(110px) perspective(1000px) rotateY(90deg); }
    100% { transform: translateX(0px) perspective(1000px) rotateY(30deg); }
}

@keyframes rotate_left_monitor_back {
    0% { transform: translateX(0px) perspective(1000px) rotateY(30deg); }
    100% { transform: translateX(110px) perspective(1000px) rotateY(90deg); }
}

@keyframes rotate_right_monitor {
    0% { transform: translateX(-110px) perspective(1000px) rotateY(-90deg); }
    100% { transform: translateX(0px) perspective(1000px) rotateY(-30deg); }
}

@keyframes rotate_right_monitor_back {
    0% { transform: translateX(0px) perspective(1000px) rotateY(-30deg); }
    100% { transform: translateX(-110px) perspective(1000px) rotateY(-90deg); }
}

.monitors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.main_monitor {
    width: 700px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.left_monitor, .right_monitor {
    width: 200px;
}

.left_monitor {
    animation: rotate_left_monitor 0.5s forwards;
}

.left_monitor2 {
    width: 200px;
    animation: rotate_left_monitor_back 0.5s forwards;
}

.right_monitor2 {
    width: 200px;
    animation: rotate_right_monitor_back 0.5s forwards;
}

.right_monitor {
    animation: rotate_right_monitor 0.5s forwards;
}


